body, input {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  letter-spacing: 1px
}
table {
  border: 1px solid #a659aa;
  margin: 20px 0;
}
table th {
  font-size: 11px;
  font-weight: normal;
  padding: 2px 5px;
  text-align: left
}
table th.number, table td.number {
  text-align: right;
  width: 100px
}
table td {
  color: #00613c;
  padding: 2px 5px
}
table td.hover, table th.hover {
  cursor: pointer
}
table td.hover:hover, table th.hover:hover {
  background-color: #ffefd1
}
table td.number {
  font-family: "Palatino Linotype", Palatino, "Times New Roman", Times, serif
}
td.subTable {
  padding: 0 5px
}
.subTable table {
  border: 1px solid #a659aa;
  font-size: 11px;
  margin: 5px 0;
  width: 100%
}
.subTable th {
  color: #783e25;
  background-color: #fff;
}
.subTable td {
  background-color: #fff;
  color: #005bc4
}
tr.highlight, td.highlight {
  background-color: #ffefd1
}
tr.highlight td {
  color: #005bc4
}
td.highlight {
  border-bottom: 5px solid #fff
}
th a {
  color: #a659aa
}
td a {
  color: #00613c
}
#navmenu {
  font-size: 11px;
  margin: 10px 0 25px 0
}
#navmenu a {
  color: #6895c1;
  margin-right: 20px
}
#navmenu a:hover, #navmenu a:focus{
  color: #41A85D;
  text-decoration: none
}

.HasFocus
{
	background-color:Yellow;
}

.SayuserMessage
{
	color:Red;
	font-weight:bold;
}
.Invisible
{
	display:none;
}

