body, input {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  letter-spacing: 1px;
  color:Black;
  background-color:White;
  margin:5px;
}

.MyLinkColour { color:#6895c1; }
.MyGreen { color:#00613c; }
.MyPurple, .Stress { color:#a659aa; }
.MyYellowBackground { background-color:#ffefd1; }

.Stress { font-weight:bold; }

table {
  border: 1px solid #a659aa;
  margin: 20px 0;
}
table th {
  font-size: 11px;
  font-weight: normal;
  padding: 2px 5px;
  text-align: left
}
table th.number, table td.number {
  text-align: right;
  width: 100px
}
table td {
  color: #00613c;
  padding: 2px 5px
}
table td.hover, table th.hover {
  cursor: pointer
}
table td.hover:hover, table th.hover:hover {
  background-color: #ffefd1
}
table td.number {
  font-family: "Palatino Linotype", Palatino, "Times New Roman", Times, serif
}
.subTable table {
  border: 1px solid #a659aa;
  font-size: 11px;
  margin: 0 0 5px 0;
  width: 100%
}
.subTable th {
  background-color: #fff;
  color: #783e25
}
.subTable a {
  color: #783e25
}
.subTable td {
  background-color: #fff;
  color: #005bc4
}
.subTableClose {
  cursor: pointer;
  font-size: 10px;
  height: 10px;
  padding-left: 2px;
  text-align: center
}
.subTableClose a {
  color: #a659aa;
  text-decoration: none
}
.subTableClose span {
  font-size: 10px
}
.subTableClose:hover {
  background-color: #a659aa
}
.subTableClose:hover a {
  color: #ffefd1
}
tr.highlight, td.highlight {
  background-color: #ffefd1
}
td.highlight {
  padding-top: 0
}
tr.highlight td {
  color: #005bc4
}
th a {
  color: #a659aa
}
td a {
  color: #00613c
}


#navmenu {
  font-size: 11px;
  margin: 10px -5px 10px -5px;
  padding:0px 5px 10px 5px;
  border-bottom:solid 1px #6895c1;
}
#navmenu a, #ThumbnailTable A  {
  color: #6895c1;
  /*margin-right: 20px*/
  text-decoration: none;
}
#navmenu a:hover, #navmenu a:focus, #ThumbnailTable A:hover{
  color: #41A85D;
  text-decoration: underline;
}

#ThumbnailTable td { padding:5px; width:200px; }



.HasFocus
{
	background-color:Yellow;
}

.SayuserMessage
{
	color:Red;
	font-weight:bold;
}
.Invisible
{
	display:none;
}

#bottombar
{
    border-top:solid 1px #6895c1;
    margin:10px -5px 0px -5px;
    padding:10px 5px 0px 5px;
    font-size:0.8em;
    color:#999999;
    margin-left:-5px;
    margin-right:-5px;
}

pre
{
    margin-left:20px;
    margin-right:20px;
    border:solid 2px #00613c;
    color:#00613c;
    padding:10px;
}